head,body{
    margin: 0;
    padding: 0;
}


#header{
    width: 400px;
    height: 40px;
    margin:auto;
    background-color: red;
    margin-top: 500px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#header a{
    float: left;
    margin-left: 100px;
    text-decoration: none;
}

.content{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin:auto;
    margin-top: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
   
}
.content label input {
    width: 395px;
    height: 50px;
    margin-top: 0px;
}
